@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* custom 10px font size (0.625rem) + line-height 1rem */
    --text-xs: 0.625rem;
    /* --text-xxs: 0.625rem 1rem; */
    
    /* pick one font; the last one wins anyway */
    --font-sans: 'Hanken Grotesk', ui-sans-serif, system-ui, sans-serif;

    /* your colors still fine */
    --color-black: #060606;
    --color-midnight: #121063;
    
}

@tailwind base;
@tailwind components;
@tailwind utilities;